.Content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  column-gap: 16px;
}



@media screen and (max-width: 1280px) {
  .Content {
    justify-content: center;
  }

  .Purses {
    min-width: 100%;
  }
}
